/*账户设置-验证身份*/

.wrap .step_top .span1{background:url(../images/step1.png);}
.wrap .step_top .span2,.span3{background:url(../images/step2.png);}
.step_toptext .text1{color:#10bf18;}
.step_bottom div{height:40px;line-height:40px;font-size:16px;margin-top:10px;}
.step_bottom .lab_1{display:inline-block;width:160px;height:40px;text-align:right;font-size:16px;}
.step_bottom .input_1{width:250px;height:40px;border:1px solid #ccc;}
.step_bottom .lab_2{display:inline-block;width:123px;height:40px;text-align:center;font-size:14px;background-color:#e4e4e4;margin-left:25px;}
#step_submit{ display:inline-block;width:100px;height:40px;background-color:#dd6714;color:#fff;font-size:20px;text-align:center;margin-left:160px;margin-top:30px;}