
.fl{float:left;}
.item_main{width:1200px;margin:0 auto;}
.item_maintop{width:1188px;height:422px;margin:12px 0px 22px 12px;}
.item_maintopl{width:363px;height:422px;float:left;}
.item_maintopl ul li{float:left;margin:10px 10px;}
.gundong{width:363px;height:60px;margin:0 auto;padding-left:7px;}
.item_maintopm{width:600px;height:422px;float:left;}

.item_name{font-size: 18px;color:#404040;margin-top:40px;margin-left:33px;}
.item_num{margin-left:33px;margin-top:31px;}
.item_num span{margin-right:18px;}
.ft{font-size:14px;color:#757575;}
.item_brand{margin-left:60px;}
.item_pricefee{width:587px;height:46px;background-color:#ececec;margin-left:12px;margin-top:20px;}
.item_price{width:157px;height:46px;line-height: 46px;margin-left:25px;}
.item_price strong{font-size:16px;color:#de2f2f;margin-left:13px;}
.item_fee{width:375;height:46px;line-height:46px;margin-left:12px;}
.item_fee b{margin-left:13px;}

.item_color{width:600px;height:46px;line-height:46px;}
.item_color1{width:70px;margin-left:36px;}
.item_color2{width:480px;height:46px;line-height:46px;margin-left:13px;}
.item_color2 ul{margin-top:6px;}
.item_color2 ul li{float:left;width:69px;height:30px;line-height:30px;margin-right:28px;}
.item_color2 ul li a{display: block;border:1px solid #dbdbdb;text-align:center;font-size:14px;color:#757575;}
.item_color2 ul li a:hover{border:1px solid #e86a0a;}

.item_model{width:600px;height:46px;line-height:46px;}
.item_model1{width:70px;margin-left:36px;}
.item_model2{width:480px;height:46px;line-height:46px;margin-left:13px;}
.item_model2 ul{margin-top:6px;}
.item_model2 ul li{float:left;width:69px;height:30px;line-height:30px;margin-right:28px;}
.item_model2 ul li a{display: block;border:1px solid #dbdbdb;text-align:center;font-size:14px;color:#757575;}
.item_model2 ul li a:hover{border:1px solid #e86a0a;}
.item_number{width:560px;height:46px;line-height:46px;}
.item_number1{width:70px;margin-left:40px;}
.item_number2{width:400px;margin-left:11px;height:46px;line-height:46px; margin-top:6px;}
.item_number2 .item_number2input{text-align:center;}
.item_number2 .a1,.a2{display:inline-block;width:21px;height:25px;line-height:25px;background-color: #fdf0e8;border:1px solid #fed3ba;text-align:center;}
.item_number2  input{width:32px;height:25px;line-height:25px;border:1px solid #faa16a;}
.item_cartbuy{display:inline-block;width:560px;height:50px;margin-left:40px;margin-top:40px;}
.item_cart{display:inline-block;width:156px;height:42px;line-height:42px;text-align:center;background:url(../images/buy.jpg) no-repeat 13px 13px;background-color: #dd6714;}
.f16{font-size:16px;color:#fff;font-weight: bold;}
.item_buy{display:block;width:107px;height:42px;line-height:42px;text-align:center;background-color:#e13333;margin-left:30px;}

/*商品大小图切换*/
.preview{width:363px; height:363px; /*margin:50px 0px 0px 150px;*/float:left;}
/* smallImg */
.smallImg{position:relative; height:52px; margin-top:1px; background-color:#F1F0F0; padding:6px 5px; width:390px; overflow:hidden;float:left;}
.scrollbutton{width:14px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; }
.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(../images/d_08.png) no-repeat;}
.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(../images/d_09.png) no-repeat; margin-left:375px; margin-top:-50px;}

#imageMenu {height:50px; width:360px; overflow:hidden; margin-left:0; float:left;}
#imageMenu li {height:50px; width:60px; overflow:hidden; float:left; text-align:center;}
#imageMenu li img{width:50px; height:50px;cursor:pointer;}
#imageMenu li#onlickImg img, #imageMenu li:hover img{ width:44px; height:44px; border:3px solid #959595;}
/* bigImg */
.bigImg{position:relative; float:left; width:363px; height:363px; overflow:hidden;}
.bigImg #midimg{width:400px; height:400px;}
.bigImg #winSelector{width:235px; height:210px;}
#winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
/* bigView */
#bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999;}
#bigView img{position:absolute;}
.item_maintopr{width:205px;height:422px;float:right;}
.special{width:205px;height:44px;line-height:44px;text-align: center;font-size:14px;background-color: #f5d1b8;}
.item_maintopr a{display:block;width:205px;text-align: center;margin-top:6px;}
.item_maintopr p{margin-left:10px; margin-top:20px;font-size:14px;margin-bottom:30px;}
.special_b{border:1px solid #c5c5c5;}

.item_mainbottom{margin-top:40px;position:relative;}
.item_mainbottom_1{height:42px;width:100%;border-bottom: 1px solid #ececec;}
.item_mainbottom_1 ul li{float:left;}
.item_mainbottom_1 ul li a{display:block;width:131px;height:40px;line-height:40px;text-align: center;border:1px solid #e2e2e2;font-size:16px;color:#545454;}

.item_mainbottom_23{display: block;}
.item_mainbottom_2{width:1000px;height:100px; padding:20px 20px 10px 30px;}
.item_mainbottom_2 ul li{float:left;width:500px;font-size:16px;color:#404040;margin-bottom:20px;}
.item_instruction{width:1200px;margin:0 auto;display:none;}
.item_judge{display: none;width:100%;height:600px;margin-left:20px;}
.item_judge h3{height:40px;line-height:40px;color:#e38b5d;font-size:14px;}
.item_judge h3 em{color:#e38b5d;font-size:14px;}
.item_judge .judge{width:1180px;height:80px;border-bottom:1px solid #ccc;margin-top:20px;}
.judge .judge_star{width:175px;}
.judge_star .star{height:30px;background:url(../images/grade-star.png) no-repeat;}
.judge_comment{width:500px;font-size:14px;color:#6f6f6f;margin-left:200px;}
.judge_user{width:70px;float:left;margin-left:200px;}
.judge_user img{display:block;width:25px;height:25px;border-radius:50%;margin-right:5px; }
.selected{border:2px solid #e86a0a;background:url(../images/selected.png) no-repeat right bottom;}


