/*账户设置-修改密码*/
.wrap .step_top .span1,.span2,.span3{background:url(../images/step1.png);}
.step_toptext label{display:inline-block;width:140px;font-size:14px;text-align:center;}
.step_toptext .text1,.text2,.text3{color:#10bf18;}
.step_bottom{width:600px;margin-left:50px;}
.step_bottom img{margin-left:110px;}