.payment_bottom{width:1200px;height:600px;margin:0 auto;padding:20px;}
.submit_suc{height:50px;line-height:50px;font-size:14px;color:#545454;}
.submit_suc span{font-size:14px;color:#e86a0a;margin-right:10px;}
.firstpage{display:block;float:right;margin-right:50px;}
.erweima{margin-top:20px;margin-left:30px;}
.confirm{display:block;width:100px;height:30px;line-height:30px;background-color:#e86a0a;color:#fff;font-size:14px;text-align:center;margin-top:50px;margin-left:30px;}