.register_top{width:1200px;margin:0 auto;margin-top:30px;}
.register_top .welcome{display:inline-block;font-size:30px;color:#3c3c3c;border-left:1px solid #d6d6d6;margin-left:26px;margin-bottom:22px;text-indent:0.6em;}
.wel_login{display:inline-block;font-size:14px;margin-left:900px;}
.register_middle{height:30px;background:url(../images/order_bg.jpg);}
.register_bottom{width:1200px;margin:0 auto;margin-top:25px;}
.register_bottom form{width:619px;height:511px;margin:5px 290px 30px 290px; }
.register_bottom form .form-group{width:522px;height:50px;border:1px solid #ccc;margin-bottom: 24px;}
.register_bottom form .form-group label{display: inline-block;width:80px;height:50px;line-height: 50px;color:#505050;font-size:16px;margin-left: 40px;}
.register_bottom form .form-group input{outline:medium;width:378px;height:48px;line-height:48px;color:#c1c1c1;font-size:16px;margin-left:20px;}
.registerdiv{display:block;width:522px;height:50px;line-height:50px;font-size:18px;color:#fff;text-align: center;margin-top:45px;background-color: #f0ae36;}