
.service_topr{width:800px;height:100px;line-height: 100px;text-align: right;}
.service_topr a{color:#dd6714;}
.service_bottom{background-color:#fbfbfb;height:800px;}
.service_bottom_main{width:360px;margin:0 auto;padding:160px 420px;}
.service_bottom_main p{height:60px;line-height:60px;color:#737373;font-size:16px;}