@charset "utf-8";
/*通用*/
body {
	font: 16px "microsoft yahei", Arial, Helvetica, sans-serif;
    color:#151515;
    margin:0px;
    padding:0px;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
}

.fl   {float:left;}
.fr  {float:right;}
.clearfix:after{
        content:"";
        display:block;
        height:0;
        visibility:hidden;
        clear:both;
    }
    .clearfix{zoom:1;}
a  {
    color:#666;
    text-decoration:none;
}
/*头部*/
.header{height:90px;background:#a3cf3f;position:relative;}
.header .indexName{display:block;width:150px;height:90px;line-height:90px;color:#fff;font-size:27px;font-weight:bold;margin-left:27px;}
.header .callin{margin-left:130px;height:90px;line-height:90px;position:relative;}
.header .textbox{width:150px;height:29px;border-radius:5px;}
.callin .telePic{position:absolute;left:167px;top:16px;}
.h_right{position:absolute;right:24px;bottom:20px;}
.h_right .font1{color:#fff;font-size:18px;}
.h_right .account{margin-left:14px;margin-right:25px;}
.h_right .ip{margin-left:14px;margin-right:25px;}
.h_right .font2{color:#1e5f10;font-size:18px;}
.h_right .quit{margin-left:24px;}
/*主体*/
/*左侧*/
.main{min-height:768px;clear:both;position:relative;}
.main_left{width:206px;height:768px;background:#efeeee;border-right:1px solid #bfbfbf;}
.main_right{height:768px;}
.main_left .parent{padding-top:20px;}
.main_left .parent li .client,.order{display:block;font-size:16px;text-align:center;height:44px;line-height:44px;position:relative;}
.main_left .parent li .client .img1{position:absolute;left:90%;top:40%;}
.main_left .parent li .order .img1{position:absolute;left:90%;top:40%;}
.main_left .parent li .client{background:url(../images/userM.png) no-repeat 10% center;}
.main_left .parent li .order{background:url(../images/orderM.png) no-repeat 10% center;}
.main_left .parent li a.select{border-left:4px solid #3e863f;background-color:#fff;}
.main_left .child li a{display:block;height:44px;line-height:44px;text-align:center;}
.main_left .child{display:none;}


