.mainright{margin:25px;width:1000px;}
.tinput{display:inline-block;width:150px;height:35px;border:1px solid #cfcfcf;border-radius:5px;margin:0 15px;}
.tselect{display:inline-block;width:160px;height:35px;border:1px solid #cfcfcf;border-radius:5px;margin:0 18px;margin-right:20px;}