.font16{font-size:16px;}
.boxset{width:183px;height:30px;border:1px solid #a6ba76;border-radius:5px;}
.otherset{width:40px;height:30px;border:1px solid #a6ba76;border-radius:5px;margin-left:10px;margin-right:10px;}
.timeset{width:115px;height:30px;border:1px solid #a6ba76;border-radius:5px;}
.addressSet{width:80px;height:28px;border:1px solid #a6ba76;border-radius:5px;margin-right:10px;}
.textareaSet{width:547px;height:92px;border:1px solid #a6ba76;border-radius:5px;}
.col1{text-align:right;padding-right:25px;}
.btn .cancel,.submit{display:inline-block;width:80px;height:30px;line-height: 30px;background-color:#327e33;color:#fff;text-align:center;border-radius:5px;}
.btn .submit{position:absolute;left:620px;top:550px;}
.btn .cancel{position:absolute;left:850px;top:550px;}
.orderInfo{position:absolute;left:385px;top:38px;width:1000px;}
.orderInfo td{font-size:18px;height:40px;}
.main_right .return{color:#498949;font-size:18px;position:absolute;left:1262px;top:16px;}