@charset "utf-8";
/*通用*/
body {
	font: 16px "microsoft yahei", Arial, Helvetica, sans-serif;
    color:#151515;
    margin:0px;
    padding:0px;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
}

.fl   {float:left;}
.fr  {float:right;}
.clearfix:after{
        content:"";
        display:block;
        height:0;
        visibility:hidden;
        clear:both;
    }
    .clearfix{zoom:1;}
a  {
    color:#666;
    text-decoration:none;
}

.swiper-container{position:relative;text-align:center;margin-right:0;margin-left:0;line-height:0;max-height:300px;}
.swiper-container img{width:100%;display:block;max-height:300px;}




